.result {
    background-color: #343a40;
    color: white;
}

.table-dark td {
    color: white;
    border-color: white;
}

.table .thead-dark th {
    border-color: white;
}

strong {
    color: red;
}

.table {
    margin-bottom: 0;
}